<div class='row'>
    <div class='col-xs-12'>
        <h4> Edit Section </h4>

        <form class="form" name="form" ng-submit="submitForm(form)" novalidate ng-show="!success">

            <div class="form-group" ng-class="{ 'has-success': form.sectionNumbers.$valid && submitted,
            'has-error': form.sectionNumbers.$invalid && submitted }">
            <label>Section Number</label>
            <input type="text" name="sectionNumbers" class="form-control" ng-model="section.sectionNumbers"
            required/>
            <p class="instructions">
                Please enter Comma Delimited Numbers Eg.(1, 3, 4, 12)
            </p>
            <p class="help-block" ng-show="form.sectionNumbers.$error.required && submitted">
                A Section number is required
            </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': section.enrollmentPolicy && submitted,
        'has-error': !section.enrollmentPolicy && submitted }">
        <label>Enrollment Policy</label>
        <br/>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default" ng-class="{active:section.enrollmentPolicy=='open'}">
                <input value="open" type="radio" data-ng-model="section.enrollmentPolicy">Open
            </label>
            <!-- <label class="btn btn-default"  ng-class="{active:section.enrollmentPolicy=='closed'}">
            <input value="closed" type="radio" data-ng-model="section.enrollmentPolicy">Closed
        </label> -->
        <label class="btn btn-default"  ng-class="{active:section.enrollmentPolicy=='approvalRequired'}">
            <input value="approvalRequired" type="radio" checked="checked" data-ng-model="section.enrollmentPolicy">Approval Required
        </label>
    </div>

    <p class="help-block" ng-show="!section.enrollmentPolicy && submitted">
        An enrollment policy is required
    </p>
</div>

<div class="form-group" >
    <button class="btn btn-danger" ng-show="isInstructor" type='button' ng-click="isInstructor = !isInstructor">
        Remove yourself as instructor
    </button>
    <button class="btn btn-warning" ng-hide="isInstructor" type='button' ng-click="isInstructor = !isInstructor">
        Add yourself as instructor
    </button>
    <button class="btn btn-primary btn-danger" ng-show="updating == 'true'" type='button' ng-click="deleteSection(section)">
        Delete Section
    </button>
</div>
<div class="form-group" >
    <button class="btn btn-primary btn-lg btn-register" type='submit'>
        Submit Section
    </button>
</div>

</form>
</div>
</div>
