<div class='row'>
  <div class='col-xs-12'>
    <h4 ng-show="creating"> Create New Section </h4>
    <h4 ng-hide="creating"> Edit Section {{section.sectionNumbersText}}</h4>
    <form class="form" name="form" ng-submit="submitForm(form)" novalidate ng-show="!success">
      <div class="form-group" ng-class="{ 'has-success': form.sectionNumbers.$valid && submitted,
                                          'has-error': form.sectionNumbers.$invalid && submitted }">
        <label>Section Number</label>
        <input type="text" style="width: 300px;"name="sectionNumbers" class="form-control" ng-model="section.sectionNumbersText"
               required/>
        <p class="instructions">
          Please enter Comma Delimited Numbers Eg.(1, 3, 4, 12)
        </p>
        <p class="help-block" ng-show="form.sectionNumbers.$error.required && submitted">
          A Section number is required
        </p>


        <label>Section Instructors</label>
        <ul class="list-group">
          <p ng-show="!currentInstructors.length">No Instructors</p>
          <div ng-repeat="instructor in currentInstructors = (allInstructors | filter:{inSection:true} | orderBy:'orderNum')">
            <li ng-show="isSupervisor" 
                style="margin-bottom:5px; width:300px;" 
                class="list-group-item">
              {{instructor.name}}
              <span class="pull-right">
                <button type="button" 
                    style="color: red; outline: none; border: 0; background: transparent;"
                    class="glyphicon glyphicon-remove" 
                    ng-click="removeCurrent(instructor)"/>
              </span>
            </li>
            <li ng-show="!isSupervisor" 
                style="margin-bottom:5px; width:300px; opacity:0.6" 
                class="list-group-item">
              {{instructor.name}}
            </li>
          </div>
        </ul>

        <div ng-show="isSupervisor">
          <label>Add Instructor</label>
          <div class="instructor-add-field">
            <div class="instructor-add-input">
              <input type="text" ng-model="searchText" ng-keyup="filterSearch(searchText)" class="form-control"/>
              <div class="list-group">
                <a class="list-group-item" 
                    style="color:black;" 
                    ng-show="showInstructorList" 
                    ng-click="selectInstructor(instructor)" 
                    ng-repeat="instructor in filteredInstructors | limitTo:5 | filter:{inSection:false} | orderBy:'name'">
                  {{instructor.name}}
                </a>
              </div>
            </div>
            <div class="instructor-add-button">
              <button class="btn btn-primary" type="button" ng-click="addInstructor()" ng-show="showAddButton">Add</button>
            </div>
          </div>
        </div>

       <!--  <label>Teaching Assistants </label>
        <ul class="list-group">
          <p ng-show="!currentTAs.length">No Teaching Assistants</p>
           <div ng-repeat="ta in assistants = (allInstructors | filter:{inSection:true} | orderBy:'orderNum')">
            <li ng-show="isSupervisor" 
                style="margin-bottom:5px; width:300px;" 
                class="list-group-item">
                <input type="text" ng-model="searchText" ng-keyup="filterSearch(searchText)" class="form-control"/>
              {{currentTAs.name}}
             
            </li>
          </ul>

          <label> Add Teaching Assistants </label>
          <div class="ta-add-field">
            <div class="ta-add-input">
              <input type="text" ng-model="searchTA" ng-keyup="filterTASearch(searchTA)" class="form-control"/>
              <div class="list-group">
                <a class="list-group-item" 
                    style="color:black;" 
                    ng-show="showTAList" 
                    ng-click="selectTA(ta)" 
                    ng-repeat="student in filteredStudents | limitTo:5 | filter:{inSection:true} | orderBy:'name'">
                  {{student.name}}
                </a>
              </div>
            </div>
            <div class="instructor-add-button">
              <button class="btn btn-primary" type="button" ng-click="addInstructor()" ng-show="showAddButton">Add</button>
            </div>
          </div>
 -->
          

      <div class="form-group" ng-class="{ 'has-success': section.enrollmentPolicy && submitted,
      'has-error': !section.enrollmentPolicy && submitted }">
        <label>Enrollment Policy</label>
        <br>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default" ng-class="{active:section.enrollmentPolicy=='open'}">
                <input value="open" type="radio" data-ng-model="section.enrollmentPolicy">Open
            </label>
            <!-- <label class="btn btn-default"  ng-class="{active:section.enrollmentPolicy=='closed'}">
            <input value="closed" type="radio" data-ng-model="section.enrollmentPolicy">Closed
            </label> -->
            <label class="btn btn-default"  ng-class="{active:section.enrollmentPolicy=='approvalRequired'}">
                <input value="approvalRequired" type="radio" checked="checked" data-ng-model="section.enrollmentPolicy">Approval Required
            </label>
        </div>
        <p class="help-block" ng-show="!section.enrollmentPolicy && submitted">
            An enrollment policy is required
        </p>
      </div>

      <div class="form-group" >
        <button type="button" class="btn btn-primary btn-danger" ng-show="updating == 'true'" ng-click="deleteSection(section)">
          Delete Section
        </button>
      </div>
      <div class="form-group" >
        <button class="btn btn-primary btn-lg btn-register" type='submit'>
          {{updating?"Save":"Submit"}} Section
        </button>
      </div>
    </form>
  </div>
</div>
