<navbar></navbar>

<div class="container admin-page">
  <h4> User Control </h4>
  <form>
    <div class="btn btn-default btn-lg" ngf-select="uploadUserCSV($file)">Upload users with CSV</div>
  </form>
  <a href="/api/users/examplecsv.csv" target="_self" download> Download Example CSV </a>
  <div ng-bind-html="csvResults" ng-show='csvResults'>
  </div>

  <div style='margin-top:20px;'>
      <button class='btn btn-danger' ng-click="reseed()"> Delete Database and Seed </button>
  </div>

  <h4> Users </h4>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12 search-bar-container'>
        <div class="search-bar">
          <div class="input-group">
             <input type="text" ng-model='searchText' class="form-control" placeholder="Search classes">
             <span class="input-group-btn">
               <button class="btn btn-default" type="button">
                 <span class='glyphicon glyphicon-search'></span>
               </button>
             </span>
           </div>
         </div>
      </div>
    </div>
  </div>

  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="user in filteredUsers = (users | filter:searchText | orderBy:'lastName')">
	    <div class="user-info">
	        <strong>{{user.firstName}} {{user.lastName}}</strong>
          <span> {{ user.isInstructor ? "Instructor" : "Student" }} </span>
          <span> {{ user.role == "admin" ? "Admin" : "" }} </span>
	    </div>
        <a ng-click="delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
    </li>
  </ul>
</div>
