<navbar></navbar>

<div class="container">
  <h4> User Control </h4>
  <form>
    <div class="btn btn-default btn-lg" ngf-select="uploadUserCSV($file)">Upload users with CSV</div>
  </form>
  <a href="/api/users/examplecsv.csv" target="_self" download> Download Example CSV </a>

  <h4> Users </h4>
  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="user in users">
	    <div class="user-info">
	        <strong>{{user.firstName}} {{user.lastName}}</strong>
	    </div>
        <a ng-click="delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
    </li>
  </ul>
</div>
