<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h3>Email Preferences</h3>
    </div>
    <div class="col-sm-12">
      <form class="form" name="emailPreferencesForm" ng-submit="updateEmailPreferences(emailPreferencesForm)" novalidate>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="emailPreferences.unsubscribe">
            Unsubscribe from emails
          </label>
        </div>
        <h5>Event Reminder</h5>
        <div ng-repeat='emailAhead in emailAheadOptions' class="form-check disabled">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" ng-model="emailAhead.applied" ng-disabled="!emailPreferences.unsubscribe">
            {{ emailAhead.time }} before the event
          </label>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
        <p class="help-block"> {{ message.updateEmailPreferences }} </p>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h3>Change Password</h3>
    </div>
    <div class="col-sm-12">
      <form class="form" name="changePasswordform" ng-submit="changePassword(changePasswordform)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other.changePassword }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <div class="form-group">
          <label>Confirm New Password</label>

          <input type="password" name="confirmPassword" class="form-control" ng-model="user.confirmPassword"
                 match="user.newPassword"
                 ng-minlength="3"
                 required=""/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && submitted">
            Passwords must match.
          </p>

        </div>

        <p class="help-block"> {{ message.changePassword }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div>
