<!-- EVENT SELECTION -->

<div ng-show='selectingEvent'>
  <h2> Create a new event </h2>

  <form class="form" name="eventInfoForm" ng-submit="createEventInfo(eventInfoForm)" novalidate ng-show="!success">

    <div class="form-group" ng-class="{ 'has-error': submitted && event.title == null }">
      <label>Event Title</label>

      <input type="text" name="eventTitle" class="form-control" ng-model="event.title"
             required/>

      <p class="help-block" ng-show="submitted && event.title == null">
        The event title is required
      </p>
    </div>

    <div class="form-group" ng-class="{ 'has-error': submitted && event.description == null }">
      <label>Event Info</label>

      <textarea type="text" name="description" class="form-control" ng-model="event.description"
             required/>
       <p class="help-block" ng-show="submitted && event.description == null">
         The event description is required
       </p>
    </div>
    <div class="form-group" ng-class="{ 'has-success': eventInfoForm.startDate.$valid && submitted,
    'has-error': eventInfoForm.startDate.$invalid && submitted }">
      <label>Event Start Date</label>


      <p class="input-group">
          <input type="text" class="form-control" datetime-picker="MM/dd/yyyy HH:mm" ng-model="event.startDate" is-open="event.startDateOpen" required/>
          <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'startDateOpen')"><i class="fa fa-calendar"></i></button>
          </span>
      </p>
    </div>
    <div class="form-group" ng-class="{ 'has-success': eventInfoForm.endDate.$valid && submitted,
    'has-error': eventInfoForm.endDate.$invalid && submitted }">
      <label>Event End Date</label>

      <p class="input-group">
          <input type="text" class="form-control" datetime-picker="MM/dd/yyyy HH:mm" ng-model="event.endDate" is-open="event.endDateOpen" required/>
          <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'endDateOpen')"><i class="fa fa-calendar"></i></button>
          </span>
      </p>
    </div>
    <div class="form-group" ng-class="{'has-error': event.map.markers.length == 0 && submitted }">
      <div id="map_canvas">
          <div id="searchBoxParent"></div>
          <div>
          <ui-gmap-google-map
                  center="event.map.center"
                  zoom="event.map.zoom"
                  dragging="event.map.dragging"
                  bounds="event.map.bounds"
                  events="event.map.events"
                  options="event.map.options"
                  pan="true"
                  control="event.map.control"
                  >
              <!--to add as a map control -->
              <ui-gmap-search-box options="event.searchbox.options" template="event.searchbox.template"
                              events="event.searchbox.events" position="event.searchbox.position"></ui-gmap-search-box>

              <!--to add to a parent div-->
              <!-- <ui-gmap-search-box options="event.searchbox.options" template="event.searchbox.template" events="event.searchbox.events" parentdiv="event.searchbox.parentdiv"></ui-gmap-search-box> -->


              <ui-gmap-markers idkey="event.map.idkey" models="event.map.markers" coords="'self'" icon="'icon'"
                               click="'onClicked'"></ui-gmap-markers>
              <ui-gmap-window coords="event.selected" idkey="event.selected.place_id" templateurl="event.selected.templateurl"
                              templateparameter="event.selected.templateparameter" options="event.selected.options"
                              closeClick='event.selected.closeClick()' ng-cloak>

              </ui-gmap-window>


          </ui-gmap-google-map>
          <!-- <button type="button" ng-click="toggleMap()">Toggle Visibility</button> -->
          <!-- <span ng-bind="event.searchbox.options.visible"></span> -->
        </div>
      </div>
      <p class="help-block" ng-show="event.map.markers.length == 0 && submitted">
        A location is required
      </p>
    </div>
    <div class="form-group" ng-class="{ 'has-error': submitted && !files }">

    <div ngf-drop ngf-select ng-model="files" class="drop-box"
        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
        accept="image/*"
        ngf-pattern="'image/*'">Drop images here or click to upload</div>
      <p class="help-block" ng-show="!files && submitted">
        An event image is required
      </p>
    </div>
    <div>
      <button class="btn btn-inverse btn-lg btn-register" type="submit">
        Create Event
      </button>
    </div>
  </form>

  <h2> Or select an event from the list below </h2>
  <!-- TODO use grid directive -->

  <div class='search-bar-container'>
    <div class="search-bar">
      <div class="input-group">
         <input type="text" ng-model='searchText' class="form-control" placeholder="Search events">
         <span class="input-group-btn">
           <button class="btn btn-default" type="button">
             <span class='glyphicon glyphicon-search'></span>
           </button>
         </span>
       </div>
     </div>
  </div>

  <div class='events-selection'>
    <div class='event' ng-click='useEvent(event)' ng-repeat='event in filteredEvents = (eventinfos | filter:searchText)'>
      <img http-src='{{event.imageURLs[0]}}'/>
      <div class='title'>{{event.title | limitTo : 50}} {{ event.title.length > 50 ? "-" : ""}}</div>
      <div class='description'>{{event.description | limitTo : 80}}{{event.description.length > 80 ? "..." : ""}}</div>
    </div>
  </div>

</div>

<!-- ASSIGN EVENT TO SECTIONS -->

<div class='eventAssignmentForm' ng-hide='selectingEvent || success'>

  <div class='selectedEvent'>
    <img http-src='{{eventInfo.imageURLs[0]}}'/>
    <div class='event-text'>
      <div class='title'>
        {{eventInfo.title}}
      </div>
      <div class='description'>
        {{eventInfo.description | limitTo : 360}}{{eventInfo.description.length > 360 ? "..." : ""}}
      </div>
    </div>
  </div>

  <form class="eventAssignment" name="eventAssignment" ng-submit="submitEventAssignment(eventAssignment)" novalidate>

    <div class="form-group" ng-class="{ 'has-success': eventAssignment.sections.$valid && submitted,
                                        'has-error': eventAssignment.sections.$invalid && submitted }">
      <label>Event Sections</label>


      <div class='course-option' ng-repeat='course in courses'>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default"
                 ng-class="isActiveCourse(course)?'active':''">
            <input type="checkbox" autocomplete="off" ng-click='selectCourse(course)'> {{course.name}}
          </label>
          <label class="btn btn-default"
                ng-class="section.active?'active':''"
                ng-repeat='section in course.sections'>
            <input type="checkbox" autocomplete="off" ng-model='section.active'> {{section.sectionNumbers.join(",")}} {{count}}
          </label>
        </div>
      </div>

      <p class="help-block" ng-show="eventAssignmentSectionsError && submitted">
        The sections are required.
      </p>
    </div>


    <div class="form-group" ng-class="{ 'has-success': eventAssignment.additionalNotes.$valid && submitted,
                                        'has-error': eventAssignment.additionalNotes.$invalid && submitted }">
      <label>Additional Notes</label>

      <textarea type="text" name="additionalNotes" class="form-control" ng-model="event.additionalNotes"
             required/>
    </div>

    <div>
      <button class="btn btn-inverse btn-lg btn-register" type="submit">
        {{updating ? "Update Event Assignment" : "Create Event Assignment"}}
      </button>
    </div>
  </form>
</div>

<!-- WHEN FINISHED -->
<div class="section-created" ng-show="success">
  <h2>Event Assigned</h2>
  <a href='/instructor/dashboard'>Click here to go back to your dashboard</a>
</div>
