<navbar></navbar>

<div class='event-page'>
  <div class='container' ng-show='err'>
    <div class='col-xs-12'>
      <div ng-show='err.status == 404'>
        <div class='error-deadend'> we couldn't find that event </div>
        <div class='error-deadend-msg'>
          We weren't able to find that event, try to navigate to the event from your <a href="/{{user.isInstructor ? 'instructor' : 'student'}}/events"> dashboard </a>.
        </div>
      </div>
      <div ng-show='err.status != 404'>
        <div class='error-deadend'> {{err.statusText}} </div>
        <div class='error-deadend-msg'>
          We're not sure what happened, send the following debug info to a system administrator.
        </div>
        <div class='error-deadend-fullmsg'>
          {{err}}
        </div>
      </div>
    </div>
  </div>
  <div class='container' ng-hide='err'>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='title'>
          {{event.info.title}}
        </div>
      </div>
      <div class='col-xs-7'>
        <div class='description'>
          {{event.info.description}}
        </div>
        <div class='section'>
          For {{event.section.course.name}} {{(event.section.sectionNumbers.length===1)?"section":"sections"}} <span ng-repeat="number in event.section.sectionNumbers">{{number}}<span ng-hide="$last">, </span></span>
        </div>
        <div class='submissionInstructions'>
          Instructor Note: {{event.submissionInstructions}}
        </div>
        <div class='info'>
          Event Information
        </div>
        <div class='description'>
          <div class="subsection">{{(event.info.times.length===1)?"Time":"Times"}}:</div>
          <div ng-repeat="time in event.info.times">{{time.start | date : "short"}} - {{time.end | date : "short"}}</div>
        </div>
        <div class='description'>
          <div class="subsection">Location:</div>
          <div>{{event.info.location.description}}</div>
          <div>{{event.info.location.address}}</div>
        </div>
        <div class="submissionInstructions">
          {{(event.info.author._id === event.author._id)?"Author":"Authors"}}: {{event.author.firstName}} {{event.author.lastName}}<span ng-hide="event.info.author._id === event.author._id"> and {{event.info.author.firstName}} {{event.info.author.lastName}}</span>
        </div>
        <br>
      </div>
      <div class='col-xs-5'>
        <img class="img-responsive" http-src='{{event.info.imageURLs[0]}}'/>
      </div>
      <div class='col-xs-12'>
        <div class='upload-button-container' ng-show='!user.isInstructor'>
          <button class='upload-button btn btn-md' ng-click='goToEventUpload()'>Upload to Event</button>
        </div>
        <div ng-show='user.isInstructor'>
          <div ng-hide='confirm'>
            <button class='btn btn-md btn-warning' ng-click='deleteEvent(event)'>Remove Assignment</button>
            <button class='btn btn-md' ng-click='goToEventEdit()'>Edit Event</button>
            <button class='btn btn-md' ng-click='editAssignemnt()'>Edit Assignment</button>
          </div>
          <div ng-show='confirm' class="help-block">
            <div>
              This will also delete all sections submissions, are you sure you'd like to remove this event?
            </div>
            <br>
            <button class='btn btn-md btn-danger' ng-click='confirmDeleteEventAssignment(event)'>Remove Event Assignment</button>
            <button class='btn btn-md btn-default' ng-click='cancelDeleteEventAssignment(event)'>cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='container' ng-show='assignmentEdit'>
      <br>
      <form class="eventAssignment" name="eventAssignmentForm" ng-submit="updateEventAssignment(eventAssignmentForm)" novalidate>

          <div class="form-group" ng-class="{ 'has-success': assignment.submissionInstructions  && (eventAssignmentForm.submissionInstructions.$touched || submitted), 'has-error': !assignment.submissionInstructions && (eventAssignmentForm.submissionInstructions.$touched || submitted) }">
              <label>Submission Instructions</label>

              <textarea type="text" name="submissionInstructions" class="form-control" ng-model="assignment.submissionInstructions"
              required/>

              <p class="help-block" ng-show="!assignment.submissionInstructions">
                  Submission instructions are required
              </p>
          </div>
          <div>
              <button class="btn btn-inverse btn-register" type="submit">Save</button>
          </div>

      </form>
  </div>

  <div class='container'>
    <div ng-show='user.isInstructor'>
      <submissionview event-id="eventId"></submissionview>
    </div>
  </div>


</div>

<footer></footer>
