.eventPage{
  .title{
    font-size:24px;
    border-bottom:1px #ccc solid;
    margin-bottom:10px;
  }
  .info{
    font-size:18px;
    border-bottom:1px #ccc solid;
    margin-bottom:10px;
    padding-top: 10px
  }
  .description{
    font-size:14px;
    margin-bottom:10px;
  }
  .indented{
    margin-left:30px;
  }
  .subsection{
    padding-top: 5px;
    font-weight: bold;
  }

  .submissionInstructions{
    font-style: italic;
    color:#888;
    margin-top:10px;
  }

}
