<navbar></navbar>
    <div class="container instructor">
      <div class="row">
        <div class="col-sm-2">
          <sidebar></sidebar>
        </div>
        <div class="col-sm-10 verify-student">
          <h1 class="page-header">Verify Students</h1>
          <h4>Courses with Pending Students</h4>
          <table class="course-section text-center table table-hover">
            <tr>
              <th class="text-center">Course</th>
              <th class="text-center">Section</th>
              <th class="text-center">Pending</th>
              <th class="text-center">Students</th>
              <th class="text-center">Edit</th>
            </tr>
            <tr ng-repeat="section in sections" ng-show="section.pendingStudents.length > 0">
              <td>
                <span class='studentCount'>{{section.course.name}}</span>
              </td>
              <td><span ng-repeat="number in section.sectionNumbers"><span ng-show="$last && !$first">& </span>{{number}}<span ng-hide="$last">, </span></span></td>
              <td>
                <span>{{section.pendingStudents.length}}</span>
              </td>
              <td>
                <span>{{section.students.length}}</span>
              </td>
              <td>
                    <button class="btn" ng-click='viewSection(section)'>View</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
<footer></footer>
