<navbar></navbar>
    <div class="container instructor">
      <div class="row">
        <div class="col-sm-3">
          <sidebar></sidebar>
        </div>
        <div class="col-sm-9 verify-student">
          <h1 class="page-header">Verify Students</h1>
          <div class="section" ng-repeat="section in sections">
            <div class="section-class">
              Class: {{section.course.name}}
            </div>
            <div class="section-number">
              Sections: <div class = "section-number" ng-repeat="num in section.sectionNumbers"> {{num}} 	&nbsp;</div>
            </div>
            <div ng-if="section.pendingStudents.length == 0">
              No Pending Students
            </div>
            <div ng-if="section.pendingStudents.length != 0">

              <ul class="verify-list">
                 <li class="student-name" ng-repeat="pendingStudent in section.pendingStudents">
                    <h5> {{pendingStudent.firstName}} {{pendingStudent.lastName}} </h5>
                    <button class="btn btn-primary" ng-click="verifyStudent(section, pendingStudent)"> Verify </button>
                 </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
<footer></footer>
