.search-bar-container{
  text-align: center;
  padding-bottom: 20px;
}

.search-bar{
  max-width:500px;
  display:inline-block;
}

.no-courses{
  font-size:24px;
  color:#888;
  line-height:220px;
  font-weight:bolder;
  height:240px;
}

.class-card-container{
  text-align:center;
  background-color: #eee;
}
.class-card{

  display:inline-block;
  width:360px;
  height:240px;
  margin:24px;
  box-shadow:0px 0px 8px rgba(0,0,0,.25);
  border-radius:4px;
  position:relative;
  background-color: #fff;

  .course-name{
    font-size:20px;
    text-align:left;
    padding-top:8px;
    padding-bottom: 8px;
    padding-left:14px;
    border-bottom:1px solid #eee;
  }
  .course-desc{
    text-align: left;
    padding-top:10px;
    font-size:14px;
    padding-left:14px;
  }
  .course-ref{
    position:absolute;
    font-size:14px;
    bottom:0px;
    left:0px;
    padding:14px;
  }
  .course-students{
    position:absolute;
    font-size:14px;
    bottom:0px;
    right:0px;
    padding:14px;
  }

}
