.instructor{
  .instructor-events{
    .active {
      background-color: #eeeeee;
    }

    .event-card {
      border-radius: 5px;
      border: 1px solid #DCDCDC;
      padding: 5px;
      margin-bottom: 10px;

      .box-card;

      .event-title {
        font-size: 18px;
      }

    }

    .event-card:hover {
      .hover-box-shadow
    }

  }
}
