<navbar></navbar>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 sidebar">
          <sidebar></sidebar>
        </div>
        <div class="col-sm-9 main">
          <h1 class="page-header">Events</h1>
          <div class="instructor-events">
      		  <div class = "event" ng-repeat="event in events">
              <div class = "row">
        		    <div class = "col-sm-5 event-title">
        		      {{event.info.title}}
        		    </div>
                <div class = "col-sm-4 col-sm-offset-3 event-date">
                  <div ng-repeat="time in event.info.times">
                    {{time.start}}
                  </div>
                </div>
              </div>
              <div>
                {{event.info.description}}
              </div>
      		    <br/>
              <button class="btn" ng-click="deleteEvent(event)"> Delete </button>
      		  </div>
          </div>

        </div>
      </div>
    </div>
<footer></footer>
