<div class='event-card' ng-class="{'short':short, 'isPastDate': data.isPastDate}">
  <a class='event-name' ng-href='{{ goToEventInfo(data) }}' ng-style="{'background-image':'url(\''+data.imageURLs[0]+'\')'}" ng-class="{'selected': selected}">
    <div class='overlay'>
      <h2 class="title">{{ data.title }} </h2>
    </div>
  </a>
  <div class='event-desc' data-ng-bind="data.description" data-ellipsis ng-hide="short || preview"></div>
  <div ng-hide="preview" class='event-dates'>
      Times:
        <div ng-repeat="time in data.times"> {{time.start | date : "MMM. d, h:mm a"}} - {{time.end | date : "MMM. d, h:mm a"}}<span ng-hide="$last && $parent.$last">, </span></div>
  </div>
  <div class='event-ref' ng-hide="preview || !data.sectionEvents">
    <div class='event-section-courses'>
        <a href="#" ng-repeat="sectionEvent in data.sectionEvents" class="event-button" ng-href='{{goToSectionEvent(sectionEvent)}}'>
          {{ sectionEvent.section.course.department }} {{sectionEvent.section.course.courseNumber}}
          <span class='event-sect'> | sections :
            <span ng-repeat="num in sectionEvent.section.sectionNumbers"> {{num}}<span ng-hide="$last">, </span></span>
          </span>
        </a>
    </div>
  </div>
</div>
