<div class='submissionview'>
  <!-- Control Buttons -->
  <span ng-include="'components/submissionview/partials/controlbuttons.html'"></span>

  <!-- Search Box -->
  <div class='content'>
    <div class='row'>
      <div class='col-xs-12 search-bar-container'>
        <div class="search-bar">
          <div class="input-group" ng-show="isInstructor" >
             <input type="text" ng-model='searchName' class="form-control" placeholder="Search Students">
             <span class="input-group-btn">
               <button class="btn btn-default" type="button">
                 <span class='glyphicon glyphicon-search'></span>
               </button>
             </span>
           </div>
         </div>
      </div>
    </div>
    <div class="row" ng-repeat="event in selectedEvents track by $index">
      <div class="col-xs-12">
        <h4>{{event.title}}</h4>
        <div ng-repeat="submission in submissions | visibleSubmission:selectedSections:event:submissionFilter:searchName">
          <!-- Student Table -->
          <div class='row header' ng-show="$first">
            <div class='col-xs-2'> <div class='column-name'> Student Name </div> </div>
            <div class='col-xs-1'> <div class='column-name'> Submitted </div> </div>
            <div class='col-xs-1'> <div class='column-name'> Validated </div> </div>
            <!-- <div class='col-xs-1'> <div class='column-name'>  </div> </div> -->
            <div class='col-xs-2'> <div class='column-name'> Course </div> </div>
            <div class='col-xs-4'> <div class='column-name'> Submission Content </div> </div>
            <div class='col-xs-1'> <div class='column-name'> Image </div> </div>
          </div>
          <div class='item'>
            <div class='row' ng-show="viewMode == 'small'">
              <div class='col-xs-2 centered'> <!-- Student Name -->
                {{submission.submitter.firstName}} {{submission.submitter.lastName}}
              </div>

              <div class='col-xs-1 centered'> <!-- Submitted -->
                <div style='text-align:center'> <i ng-show='!submission.didNotSubmit' class='fa fa-check' aria-hidden="true"></i> </div>
              </div>

              <div class='col-xs-1 centered'> <!-- Validated -->
                <div style='text-align:center'>
                  <i ng-show='submission.verified' class='fa fa-check verified' title="verified"  aria-hidden="true"></i>
                  <i ng-show='!submission.verified && submission.instructorVerification==="rejected"' class='fa fa-times rejected' title="rejected"  aria-hidden="true"></i>
                  <i ng-show='!submission.verified && submission.instructorVerification==="none"' class='fa fa-hourglass pending' title="verification pending" aria-hidden="true"></i>
                </div>
                <a href="#" ng-show="!submission.verified" class="btn btn-primary btn-xs" ng-click="validateSubmission(submission)" role="button" type="button"> Validate </a>
              </div>
              

              <div class='col-xs-2 centered'> <!-- Section -->
                {{ submission.sectionEvent.section.course.department }}
                {{ submission.sectionEvent.section.course.courseNumber }}
              </div>

              <div class='col-xs-4'> <!-- Submission Content -->
                <span ng-show='submission.showAllContent'> {{ submission.content }} </span>
                <span ng-show='!submission.showAllContent'>{{ submission.content | limitTo: 40 }}{{submission.content.length > 40 ? '...' : ''}}</span>
                <a href='#' ng-show='submission.content.length > 40 && !submission.showAllContent' ng-click='submission.showAllContent = true'> show </a>
                <a href='#' ng-show='submission.content.length > 40 && submission.showAllContent' ng-click='submission.showAllContent = false'> hide </a>
              </div>

              <div class='col-xs-1 centered'>
                <div ng-show='submission.images.length > 0'>
                  <a href='#' ng-show='!submission.showImage' ng-click='submission.showImage = true; submission.showAllContent = false'> Show </a>
                  <a href='#' ng-show='submission.showImage' ng-click='submission.showImage = false'> Hide </a>
                </div>
                <div style='text-align:center' ng-show='submission.images.length == 0'> None </div>
              </div>
            </div>
            <div ng-show='submission.showImage || viewMode == "large"' class='row submission-large'>
              <div class='col-xs-5 col-xs-offset-1'>
                <div class='submission-content'>
                  <h5> {{submission.submitter.firstName}} {{submission.submitter.lastName}} </h5>
                  <div class='submission-info-line'>
                    <i ng-show='!submission.didNotSubmit' class='fa fa-check' aria-hidden="true"></i>
                    <i ng-show='submission.didNotSubmit' class='fa fa-times' aria-hidden="true"></i>
                    {{ submission.didNotSubmit ? "Not Submitted" : "Submitted" }} |
                    <i ng-show='submission.verified' class='fa fa-check verified' title="verified"  aria-hidden="true"></i>
                    <i ng-show='!submission.verified && submission.instructorVerification==="rejected"' class='fa fa-times rejected' title="rejected"  aria-hidden="true"></i>
                    <i ng-show='!submission.verified && submission.instructorVerification==="none"' class='fa fa-hourglass pending' title="verification pending" aria-hidden="true"></i>                    Validated |
                    {{ submission.sectionEvent.section.course.department }}
                    {{ submission.sectionEvent.section.course.courseNumber }}
                  </div>
                  {{submission.content}}
                </div>
              </div>
              <div class='col-xs-5'>
                <div class='submission-image-container'>
                  <img ng-repeat="image in submission.images" src="{{image}}" class='submission-image'/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
