<div class='submissionview'>
  <!-- Control Buttons -->
  <span ng-include="'components/submissionview/partials/controlbuttons.html'"></span>

  <!-- Search Box -->
  <div class='content'>
    <div class='row'>
      <div class='col-xs-12 search-bar-container'>
        <div class="search-bar">
          <div class="input-group" ng-show="isInstructor" >
            <!-- search bar within submissions page  -->
             <input type="text" ng-model='searchName' class="form-control" placeholder="Search Students">
             <span class="input-group-btn">
               <button class="btn btn-default" type="button">
                 <span class='glyphicon glyphicon-search'></span>
               </button>
             </span>
           </div>
         </div>
      </div>
    </div>
    <!-- Creating a table of all the student submissions for the instructor to look at-->
    <!-- located under submissions then list tab -->
    <!-- EXAMPLE
          SN    SUB    VAL    COURSE    SUB CONTENT    IMAGE
        ----------------------------------------------------------
        JANE    yes    X       ART      ...... show     Show
                    validate
    -->
    <div class="row classes submission-card" ng-repeat="event in selectedEvents track by $index" >
      <h4>{{event.title}}</h4>
      <div ng-repeat="submission in submissions | visibleSubmission:selectedSections:event:submissionFilter:searchName">
        <table style="width:100%">
          <!-- TABLE COLUMNS -->
          <div class='row header' ng-show="$first">
            <tr>

              <th> Student Name </th>
              <th> Submitted </th>
              <th> Validated </th>
              <th> Course </th>
              <th> Submission Content </th>
              <th> Image </th>
              </tr>
          </div>


          <div class = 'item'>
              <div class='row' ng-show="viewMode == small">
                <!-- STUDENT NAME -->
                <td>
                  {{submission.submitter.firstName}} {{submission.submitter.lastName}}
                </td>

                <!-- SUBMITTED -->
                <td>
                 <i ng-show='!submission.didNotSubmit' class='fa fa-check' aria-hidden="true"></i>
                </td>

                <!-- VALIDATED -->
                <td>
                  <i ng-show='submission.verified' class='fa fa-check verified' title="verified"  aria-hidden="true"></i>

                  <i ng-show='!submission.verified && submission.instructorVerification==="rejected"' class='fa fa-times rejected' title="rejected"  aria-hidden="true"></i>
                  <i ng-show='!submission.verified && submission.instructorVerification==="none"' class='fa fa-hourglass pending' title="verification pending" aria-hidden="true"></i>
                  <!-- ALLOW INSTRUCTOR TO VERIFY SUBMISSION -->
                  <a href="#" ng-show="!submission.verified && isInstructor" class="btn btn-primary btn-xs" ng-click="validateSubmission(submission)" role="button" type="button"> Validate </a>
                </td>

                <!-- COURSE -->
                <td>
                  {{ submission.sectionEvent.section.course.department }}
                  {{ submission.sectionEvent.section.course.courseNumber }}
                </td>

                <!-- SUBMISSION CONTENT -->
                <td>
                  <span ng-show='submission.showAllContent'> {{ submission.content }} </span>
                  <span ng-show='!submission.showAllContent'>{{ submission.content | limitTo: 40 }}{{submission.content.length > 40 ? '...' : ''}}</span>
                  <!-- adding a show,hide button to display submission info if it is too long to fit in the table -->
                  <a href='#' ng-show='submission.content.length > 40 && !submission.showAllContent' ng-click='submission.showAllContent = true'> show </a>
                  <a href='#' ng-show='submission.content.length > 40 && submission.showAllContent' ng-click='submission.showAllContent = false'> hide </a>
                </td>

                <!-- SUBMISSION IMAGE -->
                <td>
                  <div ng-show='submission.images.length > 0'>
                    <a href='#' ng-show='!submission.showImage' ng-click='submission.showImage = true; submission.showAllContent = false'> Show </a>
                    <a href='#' ng-show='submission.showImage' ng-click='submission.showImage = false'> Hide </a>
                  </div>
                  <div style='text-align:center' ng-show='submission.images.length == 0'> None </div>
                  <div ng-show='submission.showImage || viewMode == "large"' class='row submission-large'>
                    <div class = 'col-xs-200'>
                      <img ng-repeat="image in submission.images" src="{{image}}" class='submission-image'style="width:342px;height:192px;"/>
                    </div>
                  </div>
                </td>
                
              </div>
            </div>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
