.submission-card{
  .mdl-card;
  .mdl-shadow--2dp;
  display: table;
  margin: 24px auto;
  text-align: left;
  min-height: 200px;

  background-color: #fff;
  width: 100%;

  .selected {
    background: rgba(1, 150, 136, 0.9) !important;
  }

  .submission-name{
    height: 150px;
    .card-name;
  }
  .submission-desc{
    .card-desc;
    border-bottom: 1px solid @card-border-color;
  }
  .submission-ref{
    .card-desc;
    position: relative;
    .verification-icon{
      padding: 16px;
      font-size: 2em;
      position: absolute;
      bottom: 0px;
      right: 0;
    }
    // border-top: none;
  }
  .validate-btn{
    padding: 16px;
    position: absolute;
    bottom: 1px;
    right: 40px;
  }
  &.short{
    min-height: 136px;

    .submission-ref{
      color:#666;
    }
    .submission-sect{
        color:#888;
    }
    .submission-name{
      .card-shortname();
    }
  }
  .scrollable{
    padding:20px;
    overflow-y:scroll;
    height:400px;
  }

}
.submission-card:hover{
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
  cursor:pointer;
}
.submission-card.expanded{
  width:600px;
  height:400px;
}
