<div class='submission-card' ng-click="click(data)" ng-class="{'short':short, 'expanded':expanded}">
  <div class='row'>
    <div ng-class="{'col-xs-12': !expanded, 'col-xs-6': expanded}">
      <div class='submission-name' ng-style="{'background-image':'url(' + img + ')'}">
      </div>
      <div class='submission-desc'>
        <div>Event: {{ data.sectionEvent.info.title }}</div>
        <div>Course: {{ data.sectionEvent.section.course.department }} {{data.sectionEvent.section.course.courseNumber}} | {{ data.sectionEvent.section.course.name }}</div>
        <div>Sections :
          <span ng-repeat="num in data.sectionEvent.section.sectionNumbers"> {{num}}<span ng-hide="$last">, </span></span>
        </div>
      </div>
      <div class='submission-ref'>
          <div> Submitted: {{data.time | date : "MMM. d, h:mm a"}}</div>
          <div> Author: {{ data.submitter.firstName }} {{ data.submitter.lastName }}</div>
          <div ng-show="data.instructorApproval.instructor"> Graded by: {{ data.instructorApproval.instructor.firstName }} {{ data.instructorApproval.instructor.lastName }}</div>
          <div class="verification-icon">
            <i class="fa fa-check verified" title="verified" aria-hidden="true" ng-show="data.verified"></i>
            <i class="fa fa-times rejected" title="rejected" aria-hidden="true" ng-show="!data.verified && data.instructorVerification==='rejected'"></i>
            <i class="fa fa-ellipsis-h pending" title="verification pending" aria-hidden="true" ng-show="!data.verified && data.instructorVerification==='none'"></i>
          </div>
          <div class="validate-btn">
            <a href="" ng-show="!data.verified" class="btn btn-primary btn-xs" ng-click="validateSubmission1(data, $event)" role="button" type="button"> Validate </a>
          </div>
      </div>
    </div>
  </div>
  <div class='col-xs-6 scrollable' ng-show='expanded'>
    {{data.content}}
  </div>
</div>
