<div class='mdl-card mdl-shadow--2dp submission-card' ng-click="click(data)" ng-class="{'short':short, 'expanded':expanded}">
  <div class='row'>
    <div ng-class="{'col-xs-12': !expanded, 'col-xs-6': expanded}">
      <div class='submission-name mdl-card__title mdl-card--expand' ng-style="{'background-image':'url(' + img + ')'}">
      </div>
      <div class='submission-desc mdl-card__supporting-text'>
        <div>Event: {{ data.sectionEvent.info.title }}</div>
      </div>
      <div class='submission-ref mdl-card__actions mdl-card--border'>
        <div class='mdl-card__supporting-text '>
          <div> Submitted: {{data.time | date : "MMM. d, h:mm a"}}</div>
            Authors:
              <span ng-repeat="author in data.authors">
                {{ author.firstName }} {{ author.lastName }}
                <span ng-hide="$last">, </span>
              </span>
        </div>
      </div>
    </div>
    <div class='col-xs-6 scrollable' ng-show='expanded'>
      {{data.content}}
    </div>
  </div>
</div>
