@import '~bootstrap/less/bootstrap.less';
@import '~bootstrap-social/bootstrap-social.less';
@import '~font-awesome/less/font-awesome.less';

@colorPurple: #911BC4;
@colorBlue: #1DAEEB;
@colorRed: #FC5D60;
@colorDarkBackground: #333;
@colorLightBackground: #fafafa;

@background-color: @colorLightBackground;
@text-color-primary: rgba(0,0,0, 0.87);
@text-link-color: desaturate(@colorPurple, 20%);
@preferred_font: 'Roboto', 'Helvetica', 'Arial', sans-serif;
@performance_font: 'Helvetica', 'Arial', sans-serif;

@gray-darker:            lighten(#000, 13.5%); // #222
@gray-dark:              lighten(#000, 20%);   // #333
@gray:                   lighten(#000, 33.5%); // #555
@gray-light:             lighten(#000, 60%);   // #999
@gray-lighter:           lighten(#000, 93.5%); // #eee

@brand-primary:         @colorPurple;
@brand-success:         @colorBlue;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          @colorRed;

/**
 * App-wide Styles
 */


 // body.venueApp{
 //   line-height: 1.42857143;
 // }
 [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.venueApp a{
   color: @text-link-color;
   &.btn-danger, &.btn-success, &.btn-warning, &.btn-primary{
     color: white;
   }
 }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.align-middle {
  vertical-align: middle;
}

.box-card {
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  transition: box-shadow 0.3s ease-in-out;
}

.hover-box-shadow {
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}

.drop-box() {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 10px;
    margin: 10px;
}

.dragover() {
    border: 5px dashed blue;
}

.progress(){
    font-size: smaller;
    background: black;
    width: 0;
}
.btn-right{
  float: right;
}
.verified{
  color: green;
}
.rejected{
  color: red;
}
.pending{
  color: grey;
}

.course-title-banner, .event-title-banner{
    height:200px;
    width:100%;
    margin-bottom:16px;
    .inside{
      position: absolute;
      padding-bottom: 8px;
      bottom: 0;
      margin-left: 0px;
      margin-right: 0px;
      width:95%;
      h2{
        margin-bottom: 0;
        border-bottom:1px solid #ccc;
        padding-bottom:10px;
      }
      .course-number,.section-event{
        font-size:16px;
        padding-top:8px;
        padding-bottom:8px;
        color:#666;
      }
      .edit-section {
        // Edit section button
        float: right;
      }
    }
  .picture-banner{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.15;
    background-image: url('http://placekitten.com/1500/1000');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

.inside {
}
.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.search-page{
  .search-bar-container{
    text-align: center;
    padding-bottom: 20px;
  }

  .search-bar{
    max-width:85%;
    display:inline-block;
  }

  .no-results{
    font-size:24px;
    color:#888;
    line-height:220px;
    font-weight:bolder;
    height:240px;
  }

  .class-card-container{
    text-align:center;
  }
}

.uib-tab{
  .nav-link{
    text-transform: uppercase;
  }
}

.left-column{
  border-right:1px solid #ccc;
}
.bottom-row{
  border-top:1px solid #ccc;
  margin-top: 15px;
}
.top-row{
  border-bottom:1px solid #ccc;
  margin-bottom: 15px;
}
.full-width{
  width: 100%;
}
.no-spacing{
  margin: 0;
}


/* columns of same height styles */

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}


@media (min-width: 480px) {
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}


// injector
@import 'mdl.less';
@import 'account/verify/verify.less';
@import 'account/signup/signup.less';
@import 'admin/admin.less';
@import 'courses/courses.less';
@import 'courses/edit/courseedit.less';
@import 'courses/sections/create/newsection.less';
@import 'courses/sections/edit/sectionedit.less';
@import 'courses/sections/view/sectionview.less';
@import 'courses/view/courseview.less';
@import 'eventinfo/edit/eventedit.less';
@import 'eventinfo/eventinfo.less';
@import 'events/events.less';
@import 'instructor/courses/instructorcourses.less';
@import 'instructor/courses/sections/sectionview.less';
@import 'instructor/dashboard/dashboard.less';
@import 'instructor/events/events.less';
@import 'instructor/newcourse/newcourse.less';
@import 'instructor/newevent/newevent.less';
@import 'instructor/studentsubmissions/studentsubmissions.less';
@import 'main/main.less';
@import 'student/courses/studentcourses.less';
@import 'student/dashboard/dashboard.less';
@import 'student/events/studentevents.less';
@import 'student/submissions/submission.less';
@import 'student/upload/submit/submit.less';
@import 'student/upload/upload.less';
@import '../components/commaList/commaList.less';
@import '../components/courseCard/courseCard.less';
@import '../components/courseform/courseform.less';
@import '../components/eventCard/eventCard.less';
@import '../components/eventform/eventform.less';
@import '../components/footer/footer.less';
@import '../components/modal/modal.less';
@import '../components/navbar/navbar.less';
@import '../components/oauth-buttons/oauth-buttons.less';
@import '../components/sectionform/sectionform.less';
@import '../components/submissionCard/submissionCard.less';
@import '../components/submissionview/submissionview.less';
// endinjector
