
<div class='container student'>
  <div class='row'>
    <div class='col-sm-12 student-courses'>
      <h2 ng-show="submitted && success" class="page-header">Password Reset</h2>
      <h2 ng-hide="submitted && success" class="page-header">Reset Password</h2>
      <div class="col-sm-12">
        <div class="row">
          <div ng-show="submitted">
            <div ng-show="success">
              Password has successfully been reset.
              <a href="#" ng-click="goToLogin()">Login to start attending events!</a>
            </div>
            <div ng-hide="success">
              Invalid URL.
              Requesting another email for resetting your password
            <a href="#" ng-click="goToResetPassword()">Reset Password</a>
            </div>
          </div>
          <div ng-hide="submitted">
            <form class="form" name="form" ng-submit="resetEmail(form)" novalidate>
              <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                                  'has-error': form.password.$invalid && submitted }">
                <label>Password</label>

                <input type="password" name="password" class="form-control" ng-model="password"
                       ng-minlength="3"
                       required
                       mongoose-error/>
                <p class="help-block"
                   ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                  Password must be at least 3 characters.
                </p>
                <p class="help-block" ng-show="form.password.$error.mongoose">
                  {{ errors.password }}
                </p>
              </div>

              <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && submitted,
                                                  'has-error': form.confirmPassword.$invalid && submitted }">
                <label>Confirm Password</label>
                <input type="password" name="confirmPassword" class="form-control" ng-model="confirmPassword"
                       match="password"
                       ng-minlength="3" required/>
                <p class="help-block"
                   ng-show="form.confirmPassword.$error.match && submitted">
                  Passwords must match.
                </p>
              </div>

              <div>
                <button class="btn btn-inverse btn-lg btn-register" type="submit">
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


