<navbar></navbar>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 sidebar">
          <sidebar></sidebar>
        </div>
        <div class="col-sm-9 main">
          <h1 class="page-header">Dashboard</h1>
          <h2> Events </h2>
          <div class="events">
            <div class = "event" ng-repeat="event in user.events">
              <div class = "event-title">
                {{event.info.title}}
              </div>
              <div>
                {{event.info.date}}
              </div>
              {{event.info.description}}
              <br/>
            </div>
          </div>
          <h2> Courses </h2>
          <div class= "courses">
            <div class='course' ng-repeat='section in user.sections'>
              <div class="title">
                {{section.course.name}}
              </div>
              <div class="identifier">
              {{section.course.department}} {{section.course.courseNumber}}
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
<footer></footer>
