<html>
  <head>
  	<title>-eventName-</title>
  </head>
  <body>
    <div>Hello -name-,</div>
    <div>&nbsp;</div>
    <div>You have an event coming up!</div>
    <div>&nbsp;</div>
    <div>-eventName- </div>
    <div>&nbsp;</div>
    <div>-eventDescription- </div>
    <div>-eventLocationAddress- &nbsp;</div>
    <div>-eventLocationDescription- &nbsp;</div>
    <div>At -time- &nbsp;</div>
    <div>&nbsp;</div>
    <div>Thanks!</div>
    <div>The Venue Team</div>
    <div>&nbsp;</div>
  </body>
</html>
