<html>
  <head>
  	<title>Password Reset</title>
  </head>
  <body>
    <div>Hello -name-,</div>
    <div>&nbsp;</div>
    <div>
      Someone has requested a link to change your password, and you can do this through the link below.
      <a href="-verifyURL-">-verifyURL-</a>
    </div>
    <div>&nbsp;</div>
    <div>If you didn't request this, please ignore this email.</div>
    <div>Your password won't change until you access the link above and create a new one.</div>
    <div>&nbsp;</div>
    <div>Best - Team Venue</div>
  </body>
</html>
