.homepage{
  font-family:Raleway;
  h3{
    font-family:Raleway;
  }
  .about{
    background-color: @colorDarkBackground;
    color:white;
    img{
      display: block;
      margin: auto;
      width: 40%;
    }

    .logo-container{
      position:relative;
      overflow:hidden;
      // height:340px;
      margin-bottom: 60px;
      margin-top: 60px;
    }
    .description{
      font-size:24px;
      text-align: center;
      margin-bottom: 60px;
      margin-top: 60px;
    }
    .links{
      font-size:24px;
      margin-bottom: 60px;
      margin-top: 60px;
      text-align: center;
      a{
        color: white;
      }
    }
  }

  .features{
    color: @text-color-primary;
    padding-top:30px;
    padding-bottom:40px;
    .icons{
      font-size:102px;
      text-align:left;
      padding-top:50px;
    }

    li{
      font-size:16px;
      font-weight: lighter;
    }
  }
  .get-started{
    text-align:center;
    padding-top:80px;
  }

}
