<div class='eventAssignmentForm'>
  <h2>Section Assignment</h2>
  <form class="eventAssignment" name="eventAssignmentForm" ng-submit="submitEventAssignment(eventAssignmentForm)" novalidate>

    <event-card data="eventInfo">  </event-card>

    <div class="form-group" ng-class="{ 'has-success': eventAssignmentForm.sections.$valid && (eventAssignmentForm.sections.$touched || submitted),
                                        'has-error': (eventAssignmentSectionsError || eventAssignmentForm.sections.$invalid) && (eventAssignmentForm.sections.$touched || submitted) }">
      <label>Event Sections</label>


      <div class='course-option' ng-repeat='course in courses'>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default"
                 ng-class="isActiveCourse(course)?'active':''">
            <input type="checkbox" autocomplete="off" ng-click='selectCourse(course)'> {{course.name}}
          </label>
          <label class="btn btn-default"
                ng-class="section.active?'active':''"
                ng-repeat='section in course.sections'>
            <input type="checkbox" autocomplete="off" ng-model='section.active'> {{section.sectionNumbers.join(",")}} {{count}}
          </label>
        </div>
      </div>

      <p class="help-block" ng-show="eventAssignmentSectionsError && submitted">
        At least one section is required.
      </p>
    </div>


    <div class="form-group" ng-class="{ 'has-success': event.submissionInstructions  && (eventAssignmentForm.submissionInstructions.$touched || submitted), 'has-error': !event.submissionInstructions && (eventAssignmentForm.submissionInstructions.$touched || submitted) }">
      <label>Submission Instructions</label>

      <textarea type="text" name="submissionInstructions" class="form-control" ng-model="event.submissionInstructions"
             required></textarea>

       <p class="help-block" ng-show="!event.submissionInstructions && submitted">
         Submission instructions are required
       </p>
    </div>

    <div>
      <button class="btn btn-inverse btn-lg btn-register" type="submit">
        {{updating ? "Update Event Assignment" : "Create Event Assignment"}}
      </button>
    </div>
  </form>
</div>
