.instructor {
  .dashboard{
    .courses {
      border-right:1px solid #eeeeee;

      .card-container{
        text-align: center;
        .course-card {
          width: 90%;
          margin: 10px;
        }
      }
    }

    .event{
      .event-card{
        border-radius: 5px;
        border: 1px solid #DCDCDC;
        padding: 5px;
        margin-bottom: 10px;
        .box-card;

        .event-title {
          font-size: 16px;
        }
        &:hover{
          .hover-box-shadow
        }
      }
    }
  }
}
