<navbar></navbar>
    <div class="container instructor">
      <div class="row">
        <div class="col-sm-3">
          <sidebar></sidebar>
        </div>
        <div class="col-sm-9 dashboard">
          <h1 class="page-header">Dashboard</h1>
          <div class="row">
            <div class="col-sm-7 courses">
              <h3> Courses </h3>
              <div class="card-container">
                <course-card ng-repeat='course in courses' click='goToCourse(course)' data="course"  short="true" sections='course.sections'>  </course-card>
              </div>
            </div>
            <div class="col-sm-5">
              <h3> Events </h3>
              <div class = "event" ng-repeat="event in events" ng-click='goToEvent(event)'>
                <div class="event-card">
                  <div class="event-title">
                    {{event.info.title}}
                  </div>
                  <div class="event-time">
                    Start: {{event.info.times[0].start}}
                    <!-- {{event.info.times[0].start.toTimeString()}} -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
<footer></footer>
