.instructor {
  .dashboard{
    .courses {
      .card-container{
        .course-card {
          width: 100%;
        }
      }
    }

    .events{
      .event{
        display:inline-block;
        width:260px;
        height:360px;
        margin:10px;
        padding:5px;
        box-shadow:1px 1px 5px rgba(0,0,0,.5);
        transition: box-shadow 0.25s;
        vertical-align: top;
        overflow:none;

        img{
            height:160px;
            width:100%;
            object-fit:cover;
            margin-bottom:16px;
        }

        .title{
          font-size:18px;
          color:#333;
        }

        .date{

        }

        .description{

        }
      }

      .event:hover{
        cursor:hover;
        box-shadow:1px 1px 8px rgba(0,0,0,.7);
      }
    }
  }
}
