.instructor {
  .dashboard{
    .courses {
      border-right:1px solid #eeeeee;
    }
    .card-container{
      @media only screen and (min-width : 992px) {
        padding-right: 20%;
      }
      .event-card, .submission-card {
        width: 100%;
      }
    }
    .btn-row-sm {
      td {
        line-height: 28px;
      }
    }


  }

  .event {
  }
}
