<form class="form courseform" name="form" ng-submit="submitForm(form)" novalidate ng-show="!success">

  <div class="form-group" ng-class="{ 'has-success': form.deptName.$valid && (form.deptName.$touched || submitted),
                                      'has-error': form.deptName.$invalid && (form.deptName.$touched || submitted) }">
    <label>Department Name</label>

    <input type="text" name="deptName" class="form-control" ng-model="course.department"
           required/>
    <p class="help-block" ng-show="form.deptName.$error.required && submitted">
      A department name is required
    </p>
  </div>

  <div class="form-group" ng-class="{ 'has-success': form.courseNumber.$valid && (form.courseNumber.$touched || submitted),
                                      'has-error': form.courseNumber.$invalid && (form.courseNumber.$touched || submitted) }">
    <label>Course Number</label>

    <input type="number" name="courseNumber" class="form-control" ng-model="course.courseNumber"
           required/>
    <p class="help-block" ng-show="form.courseNumber.$error.required && submitted">
      A course number is required
    </p>
    <p class="help-block" ng-show="form.courseNumber.$error.number">
      Not valid number
    </p>
  </div>

  <div class="form-group" ng-class="{ 'has-success': form.courseName.$valid && (form.courseName.$touched || submitted),
                                      'has-error': form.courseName.$invalid && (form.courseName.$touched || submitted) }">
    <label>Course Name</label>

    <input type="text" name="courseName" class="form-control" ng-model="course.name"
           required/>
    <p class="help-block" ng-show="form.courseName.$error.required && submitted">
      A course name is required
    </p>
  </div>

  <div class="form-group" ng-class="{ 'has-success': form.courseDescription.$valid && (form.courseDescription.$touched || submitted),
                                      'has-error': form.courseDescription.$invalid && (form.courseDescription.$touched || submitted) }">
    <label>Course Description</label>

    <textarea type="text" name="courseDescription" class="form-control courseDescription" ng-model="course.description"
           required/>
    <p class="help-block" ng-show="form.courseDescription.$error.required && submitted">
      A course description is required
    </p>
  </div>

  <div class="form-group" ng-class="{ 'has-error': submitted && !file}">
    <label>Course Image</label>

  <div ngf-drop ngf-select ng-model="file" class="drop-box"
      ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
      accept="image/*"
      ngf-pattern="'image/*'">Drop images here or click to upload</div>
    <p class="help-block" ng-show="!file && submitted">
      An course image is required
    </p>
    <div class="image-preview" style="font:smaller">
      {{file.name}} {{file.$error}} {{file.$errorParam}}
      <br/>
      <img ngf-src="file" width = {{imgWidth}}/>
    </div>
  </div>

  <div>
    <button class="btn btn-primary btn-lg btn-register" type="submit">
      {{updating ? "Update Course" : "Create Course"}}
    </button>
  </div>
</form>
<div class = "course-created" ng-show="success">
  <div ng-show='!updating'>
    <h2>Course Created</h2>
    <a ng-href='/courses/{{course._id}}/sections/create'> Create a section for your courses here </a>
    <br/>
    <a ng-href="/instructor/courses"> Check out your courses here </a>
  </div>
  <div ng-show='updating'>
    <h2>Course successfully updated.</h2>
    <a ng-href='/courses/{{course._id}}'>Return to the coursepage</a>
  </div>
</div>
