.courselistview{
  .content{

    .item{
      font-size:14px;
      border-top:1px solid #eee;
      padding-top:5px;
      padding-bottom:5px;
    }
    .item .row > .centered{
      text-align:center;
    }
  }  
}
