<navbar></navbar>

<div class='container courses-page'>
  <div class="courseview">
  <div class='row'>
    <div class='col-sm-7 left-column'>
      <h2> {{ course.name }}
        <div class='course-number'>{{course.department}} {{course.courseNumber}}</div>
      </h2>
      <div class='course-desc'>{{ course.description }} </div>
    </div>
    <div ng-show='isInstructor' class='col-sm-5'>
      <h2>Course Control</h2>
      <button ng-click='editCourse()'>Edit Course</button>

      <div>
        <h2>Sections</h2>
        <div ng-repeat="section in course.sections">
          <div class="section">

            <div class="row">

              <div class="col-sm-8">
                <div>
                  Sections: {{section.sectionNumbers}}
                </div>
                <div class="">
                  Instructors:
                  <span ng-repeat="instructor in section.instructors">
                    {{instructor.firstName}} {{instructor.lastName}}
                  </span>
                </div>
              </div>
              <div class="col-sm-4">
                <button class="btn" ng-click='editSection(section)'>Edit Section</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <button class="btn create-section" ng-click='createSection()'>Create Section</button>
        </div>
      </div>
    </div>
    <div ng-show='isStudent' class='col-sm-5'>
      <h2> Enroll </h2>
      <div class='course-section' ng-repeat='section in course.sections'>
        <div class='numbers'>
          Sections:
          <span ng-repeat='sectionNumber in section.sectionNumbers'>
            {{sectionNumber}}
          </span>
        </div>
        <div class='instructors'>
            <span ng-repeat='instructor in section.instructors'>
              {{instructor.firstName}} {{instructor.lastName}}
            </span>
        </div>
        <div class='studentCount'>Enrolled Students: {{section.students.length}}</div>
        <button ng-click='enroll(section)' ng-hide='section.isEnrolled' class='enroll btn btn-primary'> Enroll </button>
        <button ng-click='unenroll(section)' ng-show='section.isEnrolled' class='enroll btn btn-info'> Unenroll </button>
      </div>
    </div>
  </div>
  </div>
</div>

<footer></footer>
