.courseview{
  h2{
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
  }
  .left-column{
    position:relative;
    .enroll{
      position:absolute;
      right:20px;
      top:20px;
    }
  }
  .course-number{
    font-size:16px;
    padding-top:4px;
    color:#666;
  }
}
