.courses-page{
  .courseview{
  h2{
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
  }
  .left-column{

  }
  .create-section{
    width:100%;
  }
  .course-number{
    font-size:16px;
    padding-top:4px;
    color:#666;
  }
  .course-section{
    border-bottom:1px solid #ccc;
    position:relative;
    .enroll{
      position:absolute;
      right:5px;
      top:5px;
    }
  }
  }
}
