<div class="submissionModal">
  <!-- <div class="modal-header">
  </div> -->
  <div class="modal-body">
    <div>
      <event-title-banner section-event="submission.sectionEvent" event="submission.sectionEvent.info"></event-title-banner-basic>
    </div>
    <div>
      <div class='submission-image-container'>
        <img ng-repeat="image in submission.images" src="{{image}}" class='submission-image'/>
      </div>
      <h4> Submission </h4>
      <div class="table-responsive">
        <table class="table table-condensed">
          <tr ng-show="isInstructor" class="active">
            <td class="list-label">
              Student:
            </td>
            <td>
              {{submission.submitter.firstName}} {{submission.submitter.lastName}}
            </td>
          </tr>
          <tr>
            <td class="list-label">
              Verification:
            </td>
            <td style="text-transform:capitalize;">
              {{submission.instructorVerification}}
            </td>
          </tr>
          <tr>
            <td class="list-label">
              Location:
            </td>
            <td>
              {{ submission.locationMatch?"Matches":"No match"}}
            </td>
          </tr>
          <tr>
            <td class="list-label">
              Time:
            </td>
            <td>
              {{ submission.time | date : "short"}}
            </td>
          </tr>
          <tr>
            <td class="list-label">
              Description:
            </td>
            <td>
              {{ submission.content}}

            </td>
          </tr>
      </table>
    </div>
    <h4> Event </h4>
    <div class="table-responsive">
      <table class="table table-condensed">
        <tr class="active">
          <td class="list-label">
            Submission Intructions:
          </td>
          <td>
            {{submission.sectionEvent.submissionInstructions}}
          </td>
        </tr>
        <tr>
          <td class="list-label">
            {{(submission.sectionEvent.info.times.length===1)?"Time":"Times"}}:
          </td>
          <td>
            <span ng-repeat="time in submission.sectionEvent.info.times">{{time.start | date : "short"}} - {{time.end | date : "short"}}, </span>
          </td>
        </tr>
        <tr>
          <td class="list-label">
            Location:
          </td>
          <td>
            {{ submission.sectionEvent.info.location.description}}
          </td>
        </tr>
      </table>
    </div>
    <h4> Verification
      <button type="button" ng-show="isInstructor && !alreadyVerified && !editingVerification" class="btn btn-primary btn-right" ng-click="addVerify()">Add Verification</button>
      <button type="button" ng-show="isInstructor && alreadyVerified && !editingVerification" class="btn btn-primary btn-right" ng-click="addVerify()">Edit Verification</button>
    </h4>
    <div ng-show="instructorVerification == 'none'">
      None yet
    </div>
    <div ng-show="editingVerification">
      <form class="form" name="form" ng-submit="saveVerify(form)" novalidate ng-show="!success">
        <table class="table table-condensed table-form" ng-hide="submission._id == thisInstructionVerification._id && editingVerification">
          <tr class="active">
            <td class="list-label">
              Verification:
            </td>
            <td>
              <select class="form-control" ng-model="verifyEdit">
                <option>verified</option>
                <option>rejected</option>
                <option>none</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="list-label">
              Comments:
            </td>
            <td>
          <input type="text" name="comments" class="form-control" ng-model="verifyComments"/>
            </td>
          </tr>
        </table>

        <div class="form-buttons">
          <button ng-click="cancelVerify()" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
    <div ng-show="instructorVerification != 'none' && submission.instructorApproval.length > 0" ng-repeat="i in submission.instructorApproval track by $index" class="table-responsive">
      <table class="table table-condensed" ng-hide="submission._id == thisInstructionVerification._id && editingVerification">
        <tr class="active">
          <td class="list-label">
            Verified by:
          </td>
          <td style="text-transform:capitalize;">
            {{i.instructor.firstName}} {{i.instructor.lastName}}
          </td>
        </tr>
        <tr>
          <td class="list-label">
            Time verified:
          </td>
          <td>
            {{ i.time | date: "short" }}
          </td>
        </tr>
        <tr>
          <td class="list-label">
            Instructor comments:
          </td>
          <td>
            {{ i.comments}}
          </td>
        </tr>
      </table>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="close()">Close</button>
    </div>
  </div>
</div>
