<div class='event-page'>
  <div class='container' ng-show='err'>
    <div class='col-xs-12' ng-cloak>
      <div ng-show='err.status == 404'>
        <div class='error-deadend'> we couldn't find that event </div>
        <div class='error-deadend-msg'>
          We weren't able to find that event, try to navigate to the event from your <a href="/{{user.isInstructor ? 'instructor' : 'student'}}/events"> dashboard </a>.
        </div>
      </div>
      <div ng-show='err.status != 404'>
        <div class='error-deadend'> {{err.statusText}} </div>
        <div class='error-deadend-msg'>
          We're not sure what happened, send the following debug info to a system administrator.
        </div>
        <div class='error-deadend-fullmsg'>
          {{err}}
        </div>
      </div>
    </div>
  </div>
  <div class='container eventview' ng-hide='err'>
    <event-title-banner-basic event="event"></event-title-banner-basic>

    <div class='row row-md-height' ng-cloak>
      <div class='col-md-6 left-column col-md-height col-md-top'>
        <div class='inside-full-height'>
          <h4>Event Description</h4>
          <div class='event-desc'>{{ event.description }} </div>
          <br/>
          <img class="img-responsive" http-src='{{event.imageURLs[0]}}'/>
          <br/>
          <a href="#" class="btn btn-md btn-default" ng-show='user.isInstructor' ng-href="{{ editEvent() }}" role="button">Edit Event</a>

        </div>
      </div>
      <div class="col-md-6 right-column col-md-height" ng-hide='isInstructor || isStudent'>
          <div class="inside-full-height">
              <h4>Your Sections assigned this Event</h4>
              <p ng-hide="event.yourEvents.length">No events assigned yet</p>
              <table class="table table-hover">
                  <tr ng-repeat="sectionEvent in event.yourEvents">
                      <td class="text-right">{{sectionEvent.section.course.name}}
                        section{{sectionEvent.section.sectionNumbers.length > 1 ? "s": ""}}
                        <comma-list list="sectionEvent.section.sectionNumbers" ampersand="true"></comma-list></td>
                      <td class="small-text">
                          <a href="#" class="btn btn-md btn-default" ng-href="{{ viewSectionEvent(sectionEvent) }}" role="button">View</a>
                      </td>
                  </tr>
              </table>
              <br/>
              <h4>Other Sections assigned this Event</h4>
              <p ng-hide="event.otherEvents.length">None yet</p>

              <table class="table table-hover">
                  <tr ng-repeat="sectionEvent in event.otherEvents">
                      <td class="text-right">{{sectionEvent.section.course.name}}
                        section{{sectionEvent.section.sectionNumbers.length > 1 ? "s": ""}}
                        <comma-list list="sectionEvent.section.sectionNumbers" ampersand="true"></comma-list></td>
                      <td class="small-text">
                          <a href="#" class="btn btn-md btn-default" ng-href="{{ viewSectionEvent(sectionEvent) }}" role="button">View</a>
                      </td>
                  </tr>
              </table>
              <a href="#" ng-show='user.isInstructor' class="btn btn-md btn-default" ng-href="{{ viewNewEvent() }}" role="button">New event assignment</a>
          </div>
      </div>
    </div>
  </div>

  <div class='container'>
    <div ng-show='user.isInstructor'>
      <!-- <submissionview event-info-id="eventId"></submissionview> -->
    </div>
  </div>
</div>
