<navbar></navbar>
    <div class="container">
      <div class="row">
        <!-- FIXME using dashboard style -->
        <div class="col-sm-12 dashboard">
          <h1 class="page-header">Select event for upload</h1>
          <div class="events">
            <div ng-click='goToUploadForEvent(event)' class="event" ng-repeat="event in user.events">
              <img http-src='{{event.info.imageURLs[0]}}'/>
              <div class="title">
                {{event.info.title}}
              </div>
              <div class='date'>
                {{event.info.date}}
              </div>
              <div class='description'>
                {{event.info.description | limitTo : 150}} {{ event.info.description.length > 150 ? "..." : ""}}
              </div>
            </div>
          </div>
        </div>
        <!--  -->
      </div>
    </div>
<footer></footer>
