.student.upload{
  .upload-events{
    .events{
      .event{
        display:inline-block;
        width:260px;
        height:360px;
        margin:10px;
        padding:5px;
        box-shadow:1px 1px 5px rgba(0,0,0,.5);
        transition: box-shadow 0.25s;
        vertical-align: top;
        overflow:none;

        img{
            height:160px;
            width:100%;
            object-fit:cover;
            margin-bottom:16px;
        }

        .title{
          font-size:18px;
          color:#333;
        }

        .date{

        }

        .description{

        }
      }

      .event:hover{
        cursor:hover;
        box-shadow:1px 1px 8px rgba(0,0,0,.7);
      }
    }

  }
  .upload-page{
    .drop-box {
      .drop-box();
    }

    .dragover {
      .dragover();
    }

    .progress{
      .progress();
    }

    .submission-success {
      text-align: center;
    }

    .upload-page .submissionInstructions{
      font-style:italic;
      padding-bottom:10px;
    }
  }

}

.event-upload-info {
  img {
    margin-top: -60px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 16px;
    opacity: 0.1;
  }

  .event-summary {
    margin: -160px 20px 0px 20px;
    height: 100px;
    .title {
      font-weight: 600;
    }

  }

  margin-bottom: 60px;

}
