<navbar></navbar>

<div class='container'>
  <div class='row'>
    <div class='col-xs-12 search-bar-container'>
      <div class="search-bar">
        <div class="input-group">
           <input type="text" ng-model='searchText' class="form-control" placeholder="Search classes">
           <span class="input-group-btn">
             <button class="btn btn-default" type="button">
               <span class='glyphicon glyphicon-search'></span>
             </button>
           </span>
         </div>
       </div>
    </div>
  </div>
</div>

<div class='class-card-container'>
  <div ng-repeat='course in filteredCourses = (courses | filter:searchText)' class='class-card' ng-click='openCourse(course)'>
    <div class='course-name'> {{ course.name }} </div>
    <div class='course-desc' data-ng-bind="course.description" data-ellipsis> </div>
    <div class='course-ref'> {{ course.department }} {{course.courseNumber}} </div>
    <div class='course-students'> {{course.students.length}} enrolled</div>
  </div>
  <div class='no-courses' ng-show='filteredCourses.length == 0'>
    no courses found matching search term
  </div>
</div>

<footer></footer>
